PresentationBeamer/Main.aux
PresentationBeamer/Main.dvi
PresentationBeamer/Main.log
PresentationBeamer/Main.nav
PresentationBeamer/Main.snm
PresentationBeamer/Main.synctex.gz
PresentationBeamer/Main.toc	
PresentationBeamer/Main.bbl
PresentationBeamer/Main.blg